@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  @apply h-full w-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
